<!DOCTYPE html>
<html>
<head>
	<title>Registration Form</title>
	<script src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js'></script>
	<script src='regForm.js'></script>
	<link rel="stylesheet" type="text/css" href="regForm.css">
</head>
<body>
	<div ng-app='registration'>
	    <div ng-controller='validateCtrl' class='container'>
	        <h3>Form Validation</h3>
	        <hr />
	        <form name='regForm'>
	            First Name:<br />
	            <input type='text' name='fname' ng-model='fname' placeholder='First name' required /><br />
	            <span class='error' ng-show='regForm.fname.$dirty && regForm.fname.$invalid'>
	            <span ng-show='regForm.fname.$error.required'>First name is required.</span>
	            </span><br />

	            Last Name:<br />
	            <input type='text' name='lname' ng-model='lname' placeholder='Last name' required /><br />
	            <span class='error' ng-show='regForm.lname.$dirty && regForm.lname.$invalid'>
	            <span ng-show='regForm.lname.$error.required'>Last name is required.</span>
	            </span><br />

	            Gender:<br />
	            &nbsp&nbsp&nbsp&nbsp<input type='radio' name='gender' ng-model='gender' required value='male'/>Male<br />
	            &nbsp&nbsp&nbsp&nbsp<input type='radio' name='gender' ng-model='gender' value='female' />Female<br /><br />

	            Email:<br />
	            <input type='email' name='email' ng-model='email' placeholder='Email' required/><br />
	            <span class='error' ng-show='regForm.email.$dirty && regForm.email.$invalid'>
	            <span ng-show='regForm.email.$error.required'>Email is required.</span>
	            <span ng-show='regForm.email.$error.email'>Invalid email address.</span>
	            </span><br />

	            Password:<br />
	            <input type='password' name='password' /><br />
	            
	            Confirm Password:<br />
	            <input type='password' name='confirmPassword' /><br />
	            <button id='resetBtn' ng-click='reset()'>Reset</button>
	            <button id='submitBtn' type='submit'>Register</button>
	        </form>
	    </div>
	</div>

</body>
</html>